*.exe
*.o
*.a
*/Makefile
agbcc
agbcc_arm
old_agbcc
agbcp
agbcp_arm
*/genattr
*/genattrtab
*/gencheck
*/gencodes
*/genconfig
*/genemit
*/genextract
*/genflags
*/gengenrtl
*/genopinit
*/genoutput
*/genpeep
*/genrecog
*/config.log
*/auto-host.h
*/config.cache
*/config.log
*/config.status
*/genrtl.c
*/genrtl.h
*/insn-attr.h
*/insn-attrtab.c
*/insn-codes.h
*/insn-config.h
*/insn-emit.c
*/insn-extract.c
*/insn-flags.h
*/insn-opinit.c
*/insn-output.c
*/insn-peep.c
*/insn-recog.c
*/s-attr
*/s-attrtab
*/s-check
*/s-codes
*/s-config
*/s-emit
*/s-extract
*/s-flags
*/s-genrtl
*/s-opinit
*/s-output
*/s-peep
*/s-recog
*/tree-check.h
.DS_Store
*/DS_Store

